[General]
bypass-system = true
skip-proxy = 192.168.0.0/16,10.0.0.0/8,172.16.0.0/12,localhost,*.local,captive.apple.com,*.ccb.com,*.abchina.com.cn,*.psbc.com,www.baidu.com,www.163.com
tun-excluded-routes = 10.0.0.0/8, 100.64.0.0/10, 127.0.0.0/8, 169.254.0.0/16, 172.16.0.0/12, 192.0.0.0/24, 192.0.2.0/24, 192.88.99.0/24, 192.168.0.0/16, 198.51.100.0/24, 203.0.113.0/24, 224.0.0.0/4, 255.255.255.255/32, 239.255.255.250/32
dns-server = https://doh.pub/dns-query,https://dns.alidns.com/dns-query,223.5.5.5,119.29.29.29
fallback-dns-server = system
ipv6 = true
prefer-ipv6 = false
dns-direct-system = false
icmp-auto-reply = true
always-reject-url-rewrite = false
private-ip-answer = true
dns-direct-fallback-proxy = true
hijack-dns = 8.8.8.8:53,8.8.4.4:53
udp-policy-not-supported-behaviour = REJECT
block-quic = all-proxy

[Proxy]

[Proxy Group]
🔰 Proxy = select,🤏 Manual,🤏 Manual A,🤏 Manual B,🔥 Auto,🇺🇲 United States,🇭🇰 Hong Kong,🇨🇳 Taiwan,🇸🇬 Singapore,🇯🇵 Japan,🇰🇷 Korea,🥬 Experimental,😓 Cheap,DIRECT
🤏 Manual = select,policy-regex-filter=.*
🤏 Manual A = select,policy-regex-filter=.*
🤏 Manual B = select,policy-regex-filter=.*
🔥 Auto = url-test,url=http://www.gstatic.com/generate_204,interval=300,tolerance=50,timeout=5,select=0,policy-regex-filter=.*
🐶 JD Office = select,DIRECT,🔰 Proxy,🔥 Auto
🍟 YouTube = select,🔰 Proxy,🤏 Manual,🤏 Manual A,🤏 Manual B,🔥 Auto,🇺🇲 United States,🇭🇰 Hong Kong,🇨🇳 Taiwan,🇸🇬 Singapore,🇯🇵 Japan,🇰🇷 Korea,🥬 Experimental,😓 Cheap,policy-regex-filter=.*
🐦 Twitter = select,🔰 Proxy,🤏 Manual,🤏 Manual A,🤏 Manual B,🔥 Auto,🇺🇲 United States,🇭🇰 Hong Kong,🇨🇳 Taiwan,🇸🇬 Singapore,🇯🇵 Japan,🇰🇷 Korea,🥬 Experimental,😓 Cheap,policy-regex-filter=.*
🎵 Tiktok = select,🔰 Proxy,🤏 Manual,🤏 Manual A,🤏 Manual B,🔥 Auto,🇺🇲 United States,🇭🇰 Hong Kong,🇨🇳 Taiwan,🇸🇬 Singapore,🇯🇵 Japan,🇰🇷 Korea,🥬 Experimental,😓 Cheap,policy-regex-filter=.*
🧲 Telegram = select,🔰 Proxy,🤏 Manual,🤏 Manual A,🤏 Manual B,🔥 Auto,🇺🇲 United States,🇭🇰 Hong Kong,🇨🇳 Taiwan,🇸🇬 Singapore,🇯🇵 Japan,🇰🇷 Korea,🥬 Experimental,😓 Cheap,policy-regex-filter=.*
🥊 Google = select,🔰 Proxy,🤏 Manual,🤏 Manual A,🤏 Manual B,🔥 Auto,🇺🇲 United States,🇭🇰 Hong Kong,🇨🇳 Taiwan,🇸🇬 Singapore,🇯🇵 Japan,🇰🇷 Korea,🥬 Experimental,😓 Cheap,policy-regex-filter=.*
🤮 Instagram = select,🔰 Proxy,🤏 Manual,🤏 Manual A,🤏 Manual B,🔥 Auto,🇺🇲 United States,🇭🇰 Hong Kong,🇨🇳 Taiwan,🇸🇬 Singapore,🇯🇵 Japan,🇰🇷 Korea,🥬 Experimental,😓 Cheap,policy-regex-filter=.*
🧠 OpenAI = select,🔰 Proxy,🤏 Manual,🤏 Manual A,🤏 Manual B,🔥 Auto,🇺🇲 United States,🇭🇰 Hong Kong,🇨🇳 Taiwan,🇸🇬 Singapore,🇯🇵 Japan,🇰🇷 Korea,🥬 Experimental,😓 Cheap,policy-regex-filter=.*
🅰️ Anthropic = select,🔰 Proxy,🤏 Manual,🤏 Manual A,🤏 Manual B,🔥 Auto,🇺🇲 United States,🇭🇰 Hong Kong,🇨🇳 Taiwan,🇸🇬 Singapore,🇯🇵 Japan,🇰🇷 Korea,🥬 Experimental,😓 Cheap,policy-regex-filter=.*
🧠 OpenRouter = select,🔰 Proxy,🤏 Manual,🤏 Manual A,🤏 Manual B,🔥 Auto,🇺🇲 United States,🇭🇰 Hong Kong,🇨🇳 Taiwan,🇸🇬 Singapore,🇯🇵 Japan,🇰🇷 Korea,🥬 Experimental,😓 Cheap,policy-regex-filter=.*
🖕 Adobe = select,🔰 Proxy,🤏 Manual,🤏 Manual A,🤏 Manual B,🔥 Auto,🇺🇲 United States,🇭🇰 Hong Kong,🇨🇳 Taiwan,🇸🇬 Singapore,🇯🇵 Japan,🇰🇷 Korea,🥬 Experimental,😓 Cheap,policy-regex-filter=.*
📕 Xiaohongshu = select,🔰 Proxy,🤏 Manual,🤏 Manual A,🤏 Manual B,🔥 Auto,🇺🇲 United States,🇭🇰 Hong Kong,🇨🇳 Taiwan,🇸🇬 Singapore,🇯🇵 Japan,🇰🇷 Korea,🥬 Experimental,🇨🇳 China,😓 Cheap,policy-regex-filter=.*
🍎 Apple = select,DIRECT,🔰 Proxy,🤏 Manual,🤏 Manual A,🤏 Manual B,🔥 Auto,🇺🇲 United States,🇭🇰 Hong Kong,🇨🇳 Taiwan,🇸🇬 Singapore,🇯🇵 Japan,🇰🇷 Korea,🥬 Experimental,😓 Cheap,policy-regex-filter=.*
🖥 Microsoft = select,DIRECT,🔰 Proxy,🤏 Manual,🤏 Manual A,🤏 Manual B,🔥 Auto,🇺🇲 United States,🇭🇰 Hong Kong,🇨🇳 Taiwan,🇸🇬 Singapore,🇯🇵 Japan,🇰🇷 Korea,🥬 Experimental,😓 Cheap,policy-regex-filter=.*
📝 Notion = select,🔰 Proxy,🤏 Manual,🤏 Manual A,🤏 Manual B,🔥 Auto,🇺🇲 United States,🇭🇰 Hong Kong,🇨🇳 Taiwan,🇸🇬 Singapore,🇯🇵 Japan,🇰🇷 Korea,🥬 Experimental,😓 Cheap,policy-regex-filter=.*
💃 Scrape = select,DIRECT,🔰 Proxy,🤏 Manual,🤏 Manual A,🤏 Manual B,🔥 Auto,🇺🇲 United States,🇭🇰 Hong Kong,🇨🇳 Taiwan,🇸🇬 Singapore,🇯🇵 Japan,🇰🇷 Korea,🥬 Experimental,😓 Cheap,policy-regex-filter=.*
🪙 Crypto = select,DIRECT,🔰 Proxy,🤏 Manual,🤏 Manual A,🤏 Manual B,🔥 Auto,🇺🇲 United States,🇭🇰 Hong Kong,🇨🇳 Taiwan,🇸🇬 Singapore,🇯🇵 Japan,🇰🇷 Korea,🥬 Experimental,😓 Cheap,policy-regex-filter=.*
🎯 Global Direct = select,DIRECT,🔰 Proxy,🔥 Auto
🐟 Final = select,🔰 Proxy,🤏 Manual,🤏 Manual A,🤏 Manual B,🔥 Auto,🇺🇲 United States,🇭🇰 Hong Kong,🇨🇳 Taiwan,🇸🇬 Singapore,🇯🇵 Japan,🇰🇷 Korea,🥬 Experimental,😓 Cheap
🥬 Experimental = select,policy-regex-filter=(实验)
😓 Cheap = select,policy-regex-filter=^((?!(台|日|韩|新|美|港|Expire|Traffic|流量|剩余)).)*$
🇭🇰 Hong Kong = url-test,url=http://www.gstatic.com/generate_204,interval=300,tolerance=100,timeout=5,select=0,policy-regex-filter=(香港|HK|Hong Kong|Hongkong)
🇯🇵 Japan = url-test,url=http://www.gstatic.com/generate_204,interval=300,tolerance=100,timeout=5,select=0,policy-regex-filter=(日本|川日|东京|大阪|泉日|埼玉|沪日|深日|[^-]日|JP|Japan|Tokyo)
🇺🇲 United States = url-test,url=http://www.gstatic.com/generate_204,interval=300,tolerance=100,timeout=5,select=0,policy-regex-filter=(美|波特兰|达拉斯|俄勒冈|凤凰城|费利蒙|硅谷|拉斯维加斯|洛杉矶|圣何塞|圣克拉拉|西雅图|芝加哥|US|United States|America|California)
🇨🇳 Taiwan = url-test,url=http://www.gstatic.com/generate_204,interval=300,tolerance=100,timeout=5,select=0,policy-regex-filter=(台|新北|彰化|TW|Taiwan)
🇸🇬 Singapore = url-test,url=http://www.gstatic.com/generate_204,interval=300,tolerance=100,timeout=5,select=0,policy-regex-filter=(新加坡|坡|狮城|SG|Singapore)
🇰🇷 Korea = url-test,url=http://www.gstatic.com/generate_204,interval=300,tolerance=100,timeout=5,select=0,policy-regex-filter=(KP|韩国|韩)
🇨🇳 China = url-test,url=http://www.gstatic.com/generate_204,interval=300,tolerance=100,timeout=5,select=0,policy-regex-filter=(中国|CN|China)


[Rule]
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Bing/Bing.list,🧠 OpenAI
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/OpenAI/OpenAI.list,🧠 OpenAI
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Apple/Apple.list,🍎 Apple
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Telegram/Telegram.list,🧲 Telegram
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/YouTube/YouTube.list,🍟 YouTube
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Twitter/Twitter.list,🐦 Twitter
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Microsoft/Microsoft.list,🖥 Microsoft
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Google/Google.list,🥊 Google
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/GoogleDrive/GoogleDrive.list,🥊 Google
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/GoogleEarth/GoogleEarth.list,🥊 Google
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/GoogleFCM/GoogleFCM.list,🥊 Google
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/GoogleSearch/GoogleSearch.list,🥊 Google
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/GoogleVoice/GoogleVoice.list,🥊 Google
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Surge/BardAI/BardAI.list,🥊 Google
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Surge/YouTube/YouTube.list,🥊 Google
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Instagram/Instagram.list,🤮 Instagram
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/TikTok/TikTok.list,🎵 Tiktok
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Surge/Notion/Notion.list,📝 Notion
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/XiaoHongShu/XiaoHongShu.list,📕 Xiaohongshu
RULE-SET,https://raw.githubusercontent.com/kongwu-/rules/refs/heads/main/Xiaohongshu.list,📕 Xiaohongshu
RULE-SET,https://raw.githubusercontent.com/kongwu-/rules/main/Block.list,🐶 JD Office
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Surge/Anthropic/Anthropic.list,🅰️ Anthropic
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Surge/Claude/Claude.list,🅰️ Anthropic
RULE-SET,https://raw.githubusercontent.com/kongwu-/rules/refs/heads/main/Claude.list,🅰️ Anthropic
RULE-SET,https://raw.githubusercontent.com/kongwu-/rules/refs/heads/main/OpenRouter.list,🧠 OpenRouter
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Adobe/Adobe.list,🖕 Adobe
RULE-SET,https://raw.githubusercontent.com/kongwu-/rules/main/Scrape.list,💃 Scrape
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Crypto/Crypto.list,🪙 Crypto
RULE-SET,https://raw.githubusercontent.com/kongwu-/rules/main/Direct.list,🎯 Global Direct
RULE-SET,https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Surge/China/China_All.list,🎯 Global Direct
GEOIP,CN,🎯 Global Direct
FINAL,🐟 Final


[Host]
*.apple.com = server:system
*.icloud.com = server:system
localhost = 127.0.0.1

[URL Rewrite]
^https?://(www.)?g.cn https://www.google.com 302
^https?://(www.)?google.cn https://www.google.com 302

[MITM]
hostname = *.google.cn
